*{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3.75rem;
    padding: 1.5% 0% 0.5% 0%;
}

p {
    font-size: 2.25rem;
    padding: 0.25%;
}

 /* ------------- */

section {
    padding: 1.5%;
}

h2 {
    font-size: 2rem;
    padding: 1.5% 0%;
}

label {
    font-size: 1.5rem;
    padding: 1.5%;
}

form {
    align-items: center;
    background-color: gray;
    border-radius: 25px;
    /* height: ; */
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 1.5% 0% 2% 0%;
}

input {
    width: 50px;
    height: 25px;
    margin: 1.5% 0.5% 1.5% 0.5%;
}

button {
    /* font-size: 1.5rem; */
    border-radius: 15px;
    
    width: 175px;
    height: 55px;
    padding: 0%;
    margin: 1.5% 0.5% 1.5% 0.5%;
}